/* Prevent scrolling */
html,
body {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  height: 100%;
  /* Full height for body */
  overflow: hidden;
  /* Disable scroll */
  font-family: sans-serif;
  /* Set default font */
}

#root {
  height: 100%;
  /* Ensure the app takes the full height of the screen */
}

/* Remove white background from images */
img {
  background-color: transparent;
  /* Ensure transparency */
  display: block;
  /* Removes any gap at the bottom of images */
}

.icon {
  transition: color 0.3s;
  /* Smooth transition for color changes */
}

.icon:hover {
  color: blue;
  color: rgba(14, 14, 49, 0.686);
  /* Change color on hover */
}

/* styles for courses folder */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  background-color: red;
  color: red;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 1s;
}

button:hover {
  background-color: red;
  color: white;
  /* Darker shade for hover effect */
}