:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Base font family */
  line-height: 1.5;
  /* Line height for readability */
  font-weight: 400;
  /* Normal font weight */

  color-scheme: light dark;
  /* Support for light and dark modes */
  color: rgba(255, 255, 255, 0.87);
  /* Default text color */
  background-color: #242424;
  /* Default background color */

  font-synthesis: none;
  /* Disable font synthesis */
  text-rendering: optimizeLegibility;
  /* Enhance text legibility */
  -webkit-font-smoothing: antialiased;
  /* Smoother text on WebKit */
  -moz-osx-font-smoothing: grayscale;
  /* Smoother text on Firefox */
}

a {
  font-weight: 500;
  /* Medium weight for links */
  color: #646cff;
  /* Default link color */
  text-decoration: inherit;
  /* Inherit text decoration */
}

a:hover {
  color: #535bf2;
  /* Hover color for links */
}

body {
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Use flexbox layout */
  place-items: center;
  /* Center content */
  min-width: 320px;
  /* Minimum width */
  min-height: 100vh;
  /* Full viewport height */
}

h1 {
  font-size: 3.2em;
  /* Large font size for headings */
  line-height: 1.1;
  /* Tight line height */
}

button {
  border-radius: 8px;
  /* Rounded corners */
  border: 1px solid transparent;
  /* Transparent border */
  padding: 0.6em 1.2em;
  /* Padding for buttons */
  font-size: 1em;
  /* Standard font size */
  font-weight: 500;
  /* Medium weight for buttons */
  font-family: inherit;
  /* Inherit font family */
  background-color: #1a1a1a;
  /* Dark background for buttons */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: border-color 0.25s;
  /* Smooth border transition */
}

button:hover {
  border-color: #646cff;
  /* Border color on hover */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  /* Focus ring for accessibility */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* Text color for light mode */
    background-color: #ffffff;
    /* Background color for light mode */
  }

  a:hover {
    color: #747bff;
    /* Hover color for links in light mode */
  }

  button {
    background-color: #f9f9f9;
    /* Button background for light mode */
  }
}